@{
    ViewData["Title"] = "Zablokowano";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Twoje konto zostało tymczasowo zablokowane. Spróbuj ponownie później lub skontaktuj się z administratorem strony.</p>
</header>
