/* własne */

body {
	background-color: #231f20;
	--green-color: #72bb53;
	--yellow-color: #ebbe43;
}

.navbar {
	background-color: #72bb53;
}

.menu-element {
	color: black !important;
}

a:hover, a:visited, a:active, a:link {
	color: black !important;
}

h1 {
	color: var(--green-color);
	font-size: 32px;
	font-weight: bold;
}

h2 {
	color: var(--yellow-color);
	font-weight: bold;
	font-size: 28px;
}

h3 {
	color: var(--green-color);
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

/* zapewnione przez szablon */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #ebebeb;
	min-height: 90vh !important;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}




table {
    border: 0
}

.commslog-data {
    font-family: Consolas, Courier New, Courier, monospace;
}

.commslog-server {
    background-color: red;
    color: white
}

.commslog-client {
    background-color: green;
    color: white
}
