@model MatchViewModel



<table class="table " width="200">
	<tr>
		<td><button class="btn btn-primary btn-lg btn-block">@Model.Match.Answers[0].Content</button></td>
		<td><button class="btn btn-primary btn-lg btn-block">@Model.Match.Answers[1].Content</button></td>
	</tr>
	<tr>
		<td><button class="btn btn-primary btn-lg btn-block">@Model.Match.Answers[2].Content</button></td>
		<td><button class="btn btn-primary btn-lg btn-block">@Model.Match.Answers[3].Content</button><td>
	</tr>
</table>
TODO sprawdzić, czy poprawna odpowiedź
@if (true)
{
	<div class="success text-success container">Poprawna odpowiedź!</div>
}
else
{
	<div class="alert-danger text-danger container">Błędna odpowiedź :(</div>
}
