@model MatchSummaryViewModel
@{
    int position = 0;

    //Match match = ViewBag.Match;
    //match.MatchResults.Sort((p, q) => q.Points.CompareTo(p.Points));
}

<div>
    <table class="table table-bordered table-responsive table-hover" width="200">
        <thead>
            <tr>
                <td>
                    Miejsce
                </td>
                <td>
                    Gracz
                </td>
                <td>
                    Wynik
                </td>
            </tr>
        </thead>

        @foreach (Result result in Model.Match.Results)
        {
            position++;
            <tr>
                <td>
                    @position.
                </td>
                <td>
                    @result.Player.Nickname
                </td>
                <td>
                    @result.Points
                </td>
            </tr>
        }
    </table>
</div>