@{ 
    int position = 0;
    Match match = ViewBag.Match;
}

<div>
    <table>
        <thead>
            <tr>
                <td>
                    Miejsce
                </td>
                <td>
                    Gracz
                </td>
                <td>
                    Wynik
                </td>
            </tr>
        </thead>

        @foreach (Result result in match.MatchResults)
        {
            position++;
            <tr>
                <td>
                    @position
                </td>
                <td>
                    @result.Player.Nickname
                </td>
                <td>
                    @result.Points
                </td>
            </tr>
        }
    </table>
</div>