@model Muzziq.Models.MatchViewModels.MatchViewModel

<h2>Trwa rozgrywka!</h2>
@Model.Room.Name
<br />

<h3>Wyniki:</h3>
TODO lista wyników
<br />

<h3>Kategoria</h3>
TODO kategorie, podpowiedzi
<br />

TODO progressbar, czas do końca
<br />

TODO lista przycisków
<br />

<h4>Koniec meczu?</h4>
<br />
<input type="button" value="Zakończ" onclick="location.href='@Url.Action("EndMatch", "Match")'" />