
@{
    ViewData["Title"] = "MatchSummary";
}

<h2>Podsumowanie meczu</h2>
TODO nazwa pokoju
<br />

<h3>Zająłeś 4 miejsce!</h3>
TODO informacja o zajętym miejscu
<br />

<h3>Wyniki</h3>
TODO tablica wyników
<br />

kliknij, by powrócić do listy pokoi
<br />
<a asp-area="" asp-controller="Room" asp-action="ChooseRoomView">Lista pokoi</a>