@model Muzziq.Models.MatchViewModels.MatchSummaryViewModel

<h2>@ViewData["Title"]</h2>

<!-- <h4>Pokój <i>Model.Match.RoomId</i></h4> --> 

<h3>Zająłeś 4 miejsce!</h3>
TODO informacja o zajętym miejscu
<br />

<h3>Wyniki</h3>
@await Html.PartialAsync("_EndResultsTable.cshtml")
<br />

Kliknij, by powrócić do listy pokoi:
<br />

<input type="button" value="Lista pokoi" onclick="location.href='@Url.Action("ChooseRoomView", "Room")'" />