@{
    ViewData["Title"] = "Podsumowanie meczu";
    Match match = ViewBag.Match;
}

<h2>@ViewData["Title"]</h2>
Pokój @match.RoomName
<br />

<h3>Zająłeś 4 miejsce!</h3>
TODO informacja o zajętym miejscu
<br />

<h3>Wyniki</h3>
@await Html.PartialAsync("_ResultsTable.cshtml")
<br />

Kliknij, by powrócić do listy pokoi:
<br />

<input type="button" value="Lista pokoi" onclick="location.href='@Url.Action("ChooseRoomView", "Room")'" />