@model MatchViewModel

<h2>Trwa rozgrywka!</h2>
<h4>Pokój @Model.Room.Name</h4>
<br />

@await Html.PartialAsync("_UsersScoreTable.cshtml")

@await Html.PartialAsync("_PromptsAndProgressbar")

@await Html.PartialAsync("_Answers.cshtml")
<br/>
TODO tylko dla admina
<h4>Koniec meczu?</h4>
<br />
<input type="button" value="Zakończ" onclick="location.href='@Url.Action("EndMatch", "Match", new { matchId = Model.Match.Id })'" />