@model Muzziq.Models.RoomViewModels.WaitForGameViewModel

<div>
    <table class="table table-bordered table-responsive table-hover" width="200">
        <thead class="theader-dark">
            <tr>
                <td>
                    Gracze
                </td>
            </tr>
        </thead>

        @foreach (Player player in Model.Room.Players)
        {
            <tr>
                <td>
                    @player.Nickname
                </td>
            </tr>
        }
    </table>
</div>
<div>
    <p>Graczy: @Model.Room.Players.Count/@Model.RoomCapacity</p>
</div>