@{
    List<Room> rooms = ViewBag.Rooms;

    int roomCapacity = 6; //TODO: to powinno być gdzieś wyżej deklarowane
}

<div>
    <table class="table table-bordered table-responsive table-hover" width="200">
        <thead>
            <tr>
                <td>
                    Nazwa pokoju
                </td>
                <td>
                    Gracze
                </td>
            </tr>
        </thead>

        @foreach (Room room in rooms)
        {
            <tr>
                <td>
                    @room.Name
                </td>
                <td>
                    @room.Players.Count
                </td>
                <td>
                    @if (@room.Players.Count < @roomCapacity)
                    {
                    <input type="button" value="Dołącz" onclick="location.href='@Url.Action("JoinRoom", "Room")'" />
                    }
                    else
                    {
                    <input type="button" value="Pokój pełny" disabled />
                    }
                </td>
            </tr>
        }
    </table>
</div>