@model Muzziq.Models.MatchViewModels.ChooseRoomViewModel

<div>
    <table class="table table-bordered table-responsive table-hover" width="200">
        <thead>
            <tr>
                <td>
                    Nazwa pokoju
                </td>
                <td>
                    Gracze
                </td>
            </tr>
        </thead>

        @foreach (Room room in Model.Rooms)
        {
            <tr>
                <td>
                    @room.Name
                </td>
                <td>
                    @room.Players.Count
                </td>
                <td>
                    @if (@room.Players.Count < Model.RoomCapacity)
                    {
                        <input type="button" value="Dołącz" onclick="location.href='@Url.Action("JoinRoom", "Room", new {roomId = room.Id, playerId = 1 })'" />
                    }
                    else
                    {
                        <input type="button" value="Pokój pełny" disabled />
                    }
                </td>
            </tr>
        }
    </table>
</div>