
@{
    ViewData["Title"] = "ChooseRoom";
}

<h2>Wybór pokoju</h2>
TODO lista pokoi
<br />

<h3>Nie lubisz graczy w tych pokojach?</h3>
<a asp-area="" asp-controller="Room" asp-action="CreateRoomView">Utwórz własny pokój</a>