@model Muzziq.Models.MatchViewModels.ChooseRoomViewModel

@{
    ViewData["Title"] = "Wybór pokoju";
}

<h2>@ViewData["Title"]</h2>
@await Html.PartialAsync("_RoomsTable.cshtml")
<h3>Nie lubisz graczy w tych pokojach?</h3>
<input type="button" value="Utwórz własny pokój" onclick="location.href='@Url.Action("CreateRoomView", "Room")'" />