
@{
    ViewData["Title"] = "CreateRoom";
}

<h2>Tworzenie pokoju</h2>
TODO podaj nazwę pokoju
<br />

TODO pokaż listę utworów
<br />

TODO pozwalaj na wybór utworów
<br />

<a asp-area="" asp-controller="Room" asp-action="AddNewSong">Dodaj nowy utwór</a>

<br />
TODO otworzenie okna dodania nowego utworu i przesłanie go na serwer
<br />

<a asp-area="" asp-controller="Room" asp-action="CreateRoom">Utwórz pokój</a>
<br />

TODO przekazanie danych pokoju
