
@{
	ViewData["Title"] = "Test";
}

<h2>@ViewData["Title"]</h2>
<h3>Lista wszystkich widoków</h3>
<br />
<a asp-area="" asp-controller="Room" asp-action="ChooseRoomView">Wybór pokoju</a>
<br />
<a asp-area="" asp-controller="Room" asp-action="CreateRoomView">Tworzenie nowego pokoju</a>
<br />
<a asp-area="" asp-controller="Room" asp-action="WaitForGameView">Oczekiwanie na rozpoczęcie gry</a>
<br />
<a asp-area="" asp-controller="Match" asp-action="MatchView">Widok rozgrywki</a>
<br />
<a asp-area="" asp-controller="Match" asp-action="EndMatch">Podsumowanie rozgrywki</a>
<br />
<a asp-area="" asp-controller="Room" asp-action="Test">Ta strona :></a>
<br />
<a asp-area="" asp-controller="Song" asp-action="AddNewSongView">Dodaj nowy utwór</a>
<br />