
@{
	ViewData["Title"] = "WaitForGamePlayer";
}

<h2>Oczekiwanie na grę</h2>
<p>TODO podaj nazwę gry</p>
<h3>Lista graczy:</h3>
<p>TODO lista graczy</p>
<a asp-area="" asp-controller="Match" asp-action="StartMatch">Start!</a>
<p>	TODO opcja dostępna tylko dla admina</p>
