@model Muzziq.Models.RoomViewModels.WaitForGameViewModel

@{
    ViewData["Title"] = "Oczekiwanie na grę";
}

<h2>@ViewData["Title"]</h2>
<p>@Model.Room.Name</p>
<h3>Lista graczy:</h3>
@await Html.PartialAsync("_PlayersTable.cshtml")

@if (Model.OwnerId.Equals(Model.Room.OwnerId))
{
    <input type="button" value="Start!" onclick="location.href='@Url.Action("StartMatch", "Match", new { roomId = Model.Room.Id })'" />
}