
@{
    ViewData["Title"] = "WaitForGamePlayer";
}

<h2>Oczekiwanie na grę...</h2>
TODO podaj nazwę gry
<br />

<h3>Lista graczy:</h3>
TODO lista graczy
<br />

<a asp-area="" asp-controller="Match" asp-action="StartMatch">Start!</a>
<br />
TODO opcja dostępna tylko dla admina
<br />